<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-7 col-lg-4" id="Circulos">
      <circle-progress
      [title]="'Angular'"
      [percent]="55"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#EF478B'"
      [innerStrokeColor]="'#F90E6B'"
      [animation]="true"
      [animationDuration]="300"
      ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-7 col-lg-4"  id="Circulos">
    <circle-progress
    [title]="'HTML y CSS'"
    [percent]="55"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#EF478B'"
    [innerStrokeColor]="'#F90E6B'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
</div>

<div class=" text-center col-sm-4 col-md-7 col-lg-4"  id="Circulos">
  <circle-progress
  [title]="'Java'"
  [percent]="55"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#EF478B'"
  [innerStrokeColor]="'#F90E6B'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
</div>

<div class=" text-center col-sm-4 col-md-7 col-lg-4"  id="Circulos">
  <circle-progress
  [title]="'Comunicativa'"
  [percent]="100"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#EF478B'"
  [innerStrokeColor]="'#F90E6B'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-7 col-lg-4"  id="Circulos">
  <circle-progress
  [title]="'Proactiva'"
  [percent]="98"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#EF478B'"
  [innerStrokeColor]="'#F90E6B'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-7 col-lg-4"  id="Circulos">
  <circle-progress
  [title]="'Trabajo en equipo'"
  [percent]="99"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#EF478B'"
  [innerStrokeColor]="'#F90E6B'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
</div>

  </div>