<div class="row">
    <h1> Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1> Trabajo uno</h1> - <h3> (years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quo ut voluptate delectus adipisci culpa perferendis exercitationem, sint temporibus modi praesentium! Obcaecati placeat quisquam eum! Ea illum iure quaerat officia.
            </p>
        </ul>

        <ul>
            <li>
                <h1> Trabajo dos</h1> - <h3> (years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quo ut voluptate delectus adipisci culpa perferendis exercitationem, sint temporibus modi praesentium! Obcaecati placeat quisquam eum! Ea illum iure quaerat officia.
            </p>
        </ul>

        <ul>
            <li>
                <h1> Trabajo tres</h1> - <h3> (years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quo ut voluptate delectus adipisci culpa perferendis exercitationem, sint temporibus modi praesentium! Obcaecati placeat quisquam eum! Ea illum iure quaerat officia.
            </p>
        </ul>

    </div>
</div>