<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/AP-logo.png" id="logoAP" srcset="">
        </div>
        <div class="redes">
            <div class="col-sg-12">
                <a href="" id="sociales"> <img src="../../../assets/facebook.png" alt=""></a>  
                <a href="" id="sociales"> <img src="../../../assets/github.png" alt=""></a>  
                <a href="" id="sociales"> <img src="../../../assets/instagram.png" alt=""></a>  
                <button type="button" class="btn btn-outline-light"> Ingreso</button>
              </div>              
        </div>
    </div>
</div>
